.jumbotron-custom {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
}

.body {
    background-color: grey;
}



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 676px) {
    .slider {
        height: 75vh;
        background-image: linear-gradient(to right, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.81)), url("./../img/hero.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
        /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
      }
      .product-img-detail {
        height: 55vh;
        background-image: linear-gradient(to right, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.81)), url("./../img/hero.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .slider {
        height: 75vh;
        background-image: linear-gradient(to right, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.81)), url("./../img/hero.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
        /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
      }
      .product-img-detail {
        height: 55vh;
        background-image: linear-gradient(to right, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.81)), url("./../img/hero.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .slider {
        height: 75vh;
        background-image: linear-gradient(to right, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.81)), url("./../img/hero.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
        /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
      }
      .product-img-detail {
        height: 55vh;
        background-image: linear-gradient(to right, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.81)), url("./../img/hero.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .slider {
        height: 75vh;
        background-image: linear-gradient(to right, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.81)), url("./../img/hero.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
        /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
      }
    .product-img-detail {
        height: 55vh;
        background-image: linear-gradient(to right, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.81)), url("./../img/hero.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
    }
 }
